<!--
  Generated template for the AdaSendReceivePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> ADA </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="ada.addRestoreAdaWallet()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ng-template #hasWallet>
      <ion-list>
        <ion-item-sliding *ngFor="let wallet of ada.wallets; let i = index" (click)="walletSelected(wallet,i)">
          <ion-item>
            <ion-thumbnail item-start>
              <img src="assets/img/sidebar/wallet-ic.inline.svg">
            </ion-thumbnail>
            <h2>{{wallet?.name}}</h2>
            <h3>{{wallet?.amount | amount : []}} ADA </h3>
            <button ion-button clear item-end icon-only>
              <ion-icon name="ios-arrow-dropright-outline"></ion-icon>
            </button>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="ada.deleteAdaWallet(wallet.id,i)">
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ng-template>

    <ion-grid *ngIf="!ada?.wallets?.length else hasWallet" justify-content-center align-items-center text-center text-wrap>
      <ion-row>
        <ion-col col-6>
          <ion-card>
            <ion-card-header>
              <ion-row justify-content-center align-items-center (click)="ada.addWallet()">
                <button ion-button outline>
                  <ion-icon name="ios-add-outline"></ion-icon>
                </button>            
              </ion-row>
              <ion-row justify-content-center align-items-center>
                Create
              </ion-row>
              <ion-row justify-content-center align-items-center text-wrap small>
                <small>Create new wallet</small>
              </ion-row>
            </ion-card-header>          
          </ion-card>
        </ion-col>

        <ion-col col-6>
          <ion-card>
            <ion-card-header>
              <ion-row justify-content-center align-items-center (click)="ada.presentActionSheet()">
                <button ion-button outline >
                  <ion-icon name="ios-sync-outline"></ion-icon>
                </button>            
              </ion-row>
              <ion-row justify-content-center align-items-center>
                Restore
              </ion-row>
              <ion-row justify-content-center align-items-center text-wrap small>
                <small>Restore wallet from backup</small>
              </ion-row>
            </ion-card-header>          
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
