<!--
  Generated template for the AdaTradePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="ada.syncAdaWallet(accountIndex)">
        <ion-icon>
            <img class="svgicon" src="assets/img/restore-ic.inline.svg">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
  
  
<ion-content padding>  
  <ion-segment [(ngModel)]="Stab">
    <ion-segment-button *ngFor="let tab of tabs" [value]="tab.name">
      <img class="svgicon" [src]="tab.iconsvg" [alt]="tab.name">
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="Stab">
      <div *ngSwitchCase="'Summary'">
  
        <ion-card>
          <ion-card-header>
            <h2 text-left>{{ada?.wallets[accountIndex]?.name}}</h2>
          </ion-card-header>
          <ion-card-content>
              <ion-item>
                <h1 item-start>{{ada?.wallets[accountIndex]?.amount | amount: []}}</h1>
                <ion-avatar item-start>
                  <img class="symbol" src="assets/img/ada-symbol-smallest-dark.inline.svg" >
                </ion-avatar>
              </ion-item>
              <ion-item>
                Transactions : 
                <ion-badge color="light" >{{ada?.transactions[wallet?.id]?.total}}</ion-badge>
              </ion-item>
          </ion-card-content>
        </ion-card>
        
        <!-- <ion-card>
          <ion-item>
            <ion-thumbnail item-start>
              <img src="assets/img/qr.png">
            </ion-thumbnail>
            <h2>Your wallet address</h2>
            <p text-wrap #currentAddressSummary >{{ada?.accounts[wallet?.id]?.caAddresses[ada?.accounts[wallet?.id]?.caAddresses.length-1]?.cadId}}</p>
            <button ion-button icon-only clear item-end (click)="copyAddressToClipboard(currentAddressSummary)">
              <ion-icon item-end>
                <img class="svgicon" src="assets/img/clipboard-ic.inline.svg">
              </ion-icon>
            </button>
          </ion-item>
        </ion-card> -->

        <ion-list>          
          <ion-item-group *ngFor="let transaction of ada.transactions[wallet.id].transactions">
            <ion-datetime disabled displayFormat="MM/DD/YYYY" pickerFormat="h mm A" [(ngModel)]="transaction.date"></ion-datetime>
            <ion-item>
              <ion-avatar item-start>
                <img item-start src="assets/img/{{transaction.type}}-ic.svg" >
              </ion-avatar>
              
              <h3><b>{{transaction.title}}</b></h3>
              <p>{{transaction.numberOfConfirmations}} confirmations</p>
              <ion-note item-end>
                <small>{{transaction.amount}} A</small><br>
                <ion-badge *ngIf="transaction.numberOfConfirmations<10" item-end color="danger">Low</ion-badge>
                <ion-badge *ngIf="transaction.numberOfConfirmations>9" item-end color="secondary">High</ion-badge>                
              </ion-note>
            </ion-item>

          </ion-item-group>
        </ion-list>
      </div>
  
      <div *ngSwitchCase="'Send'">
        <ion-card>
          <ion-item>
            <h2><b>Receiver</b></h2>
            <button ion-button icon-only item-end clear align-items-left>
              <img align-items-left class="svgicon" item-end item-start src="assets/img/attach-ic.inline.svg" >
            </button>
          </ion-item>
        
          <ion-card-content no-padding>
            <ion-item>
              <ion-textarea rows="4" type="text" placeholder="Wallet Address" value=""></ion-textarea>
            </ion-item>
          </ion-card-content>
        </ion-card>
      
        <ion-card>
          <ion-card-header>
            Amount
            <ion-badge item-end>+ 0.000000 of fees</ion-badge>
          </ion-card-header>
        
          <ion-card-content>
            <ion-item>
              <ion-input type="number" placeholder="0.000000 ADA" ></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
      
        <ion-grid>
          <ion-row justify-content-center align-items-center (click)="next()">
            <button ion-button color="primary">Next</button>         
          </ion-row>
        </ion-grid>
      </div>
  
      <div *ngSwitchCase="'Receive'">
        <ion-card>
          <ion-item>
            <ion-thumbnail item-start>
              <img src="assets/img/qr.png">
            </ion-thumbnail>
            <h2>Your wallet address</h2>
            <p text-wrap #currentAddressReceive >{{ada?.accounts[wallet?.id]?.caAddresses[ada?.accounts[wallet?.id]?.caAddresses.length-1]?.cadId}}</p>
            <button ion-button icon-only clear item-end (click)="copyAddressToClipboard(currentAddressReceive)">
              <ion-icon item-end>
                <img class="svgicon" src="assets/img/clipboard-ic.inline.svg">
              </ion-icon>
            </button>
          </ion-item>
          <ion-item>
              <button ion-button block  (click)="ada.newAdaWalletAddress(wallet.id)" color="light">Generate new address</button>
          </ion-item>
          
          <!-- <ion-row>
            <ion-col justify-content-center align-items-center text-wrap>
              <ion-input placeholder="    Enter Password  " type="text" value="" [(ngModel)]="walletPass"></ion-input>
            </ion-col>
            <ion-col>
              <button ion-button small  (click)="ada.newAdaWalletAddress(wallet.id,walletPass)" color="light">Generate new address</button>
            </ion-col>
          </ion-row> -->
        </ion-card>
        <ion-list>
          <ion-item *ngFor="let address of ada.accounts[wallet.id].caAddresses">
            <p text-wrap>{{address.cadId}}</p>
            <ion-note (click)="copyAddress(address.cadId)" item-end>
              <img class="svgicon" src="assets/img/clipboard-ic.inline.svg">
            </ion-note>
          </ion-item> 
        </ion-list>
      </div>
  
      <div *ngSwitchCase="'Transactions'">
        <ion-list>          
          <ion-item-group *ngFor="let transaction of ada.transactions[wallet.id].transactions">
            <ion-datetime disabled displayFormat="MM/DD/YYYY" pickerFormat="h mm A" [(ngModel)]="transaction.date"></ion-datetime>
            <ion-item>
              <ion-avatar item-start>
                <img item-start src="assets/img/{{transaction.type}}-ic.svg" >
              </ion-avatar>
              
              <h3><b>{{transaction.title}}</b></h3>
              <p>{{transaction.numberOfConfirmations}} confirmations</p>
              <ion-note item-end>
                <small>{{transaction.amount}} A</small><br>
                <ion-badge *ngIf="transaction.numberOfConfirmations<10" item-end color="danger">Low</ion-badge>
                <ion-badge *ngIf="transaction.numberOfConfirmations>9" item-end color="secondary">High</ion-badge>                
              </ion-note>
            </ion-item>

          </ion-item-group>
        </ion-list>
      </div>
  
      <div *ngSwitchCase="'Settings'">
          <ion-item>
              <ion-label stacked>Name</ion-label>
              <ion-input type="text" [value]="ada?.wallets[accountIndex].name" ></ion-input>
          </ion-item>
          <ion-item>
              <ion-label stacked>Transaction Assurence Security Level</ion-label>
              <ion-select [(ngModel)]="ada?.wallets[accountIndex].assurance">
                  <ion-option value="CWANormal">Normal</ion-option>
                  <ion-option value="CWAStrict">Strict</ion-option>
              </ion-select>
          </ion-item>
  
          <ion-item>
              <ion-label stacked>Password Last Updated</ion-label>
              <ion-datetime disabled displayFormat="DD-MMMM-YYYY" [(ngModel)]="ada?.wallets[accountIndex].passwordUpdateDate"></ion-datetime>
              <button ion-button clear color="light" item-end>Change</button>
          </ion-item>
          <!-- <ion-item>
            <button (click)="ada?.deleteAdaWallet(wallet.id,accountIndex)" ion-button block color="danger">Delete</button>
          </ion-item> -->
      </div>
    </div>
</ion-content>
    
