page-splash {
<<<<<<< HEAD
    .center {
        margin: auto;
        width: 80%; 
        position: relative;
    }
    .center img{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, 50%);
    }
=======

>>>>>>> e391c59b71b8f1638d22c44437c140a0a7f966fb
}
