page-ada-redemption {
    .card{
        margin: 10px 0 !important;
        width: 100%;
        ion-item{
            padding-left: 0 !important;
        }
    }
    .margin-right0{
        margin-right: 0 !important;
    }
    .padding-left0{
        padding-left: 0 !important;
        ion-label{
            margin-right: 0 !important;
        }
    }
    .padding-left00{
        padding-left: 0 !important;
    }
    .item-inner{
        padding-right: 0 !important;
    }
    .preview-img{
        border: 1px solid #666;
    }

}
